
<div id="picker-container" class="container">
  <div id="headline-row" class="row">
    <h1>Escape to . . .</h1>
  </div>
  <div id="category-row-1" class="category-row row">
    <% i = 0 %>
    <% @categories.each do |c| %>
      <% i +=1 %>
      <div id="category-<%=c.id%>" class="category-selector <%= i%3==0 ? 'fourcol' : 'fourcol last'%>">
        <%= form_tag url_for("/escape_picker"), :method => 'post' do %>
          <%= hidden_field_tag 'id', c.id %>
          <%= image_submit_tag c.icon_url %>
        <% end %>
        <div id="category-name">
          <p><%=c.name%></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
