
<div id="picker-container" class="container">
  <div id="headline-row" class="row">
    <h1>Escape to . . .</h1>
  </div>
  <div id="category-row-1" class="category-row row">
    <% i = 0 %>
    <% @categories.each do |c| %>
      <% i +=1 %>
      <%= form_tag url_for("/escape_picker"), :method => 'post', :class => "category-selector #{i%3==0 ? 'fourcol' : 'fourcol last'}" do %>
        <%= hidden_field_tag 'id', c.id %>
        <%= image_submit_tag c.icon_url %>
      <% end %>
    <% end %>
  </div>

  <div id="picker-row" class="row">
    <div id="escape-categories">
      <%= form_tag url_for("/escape_picker"), :method => 'post', :id => "category_selector" do %>
        <%= select_tag "category", options_for_select([["What do you like?", ""]]+ @categories.collect { |c| [c.name, c.id] } ) %>
        <%= image_submit_tag "Escape!" %>
      <% end %>
    </div>
  </div>
</div>
