<div id="attraction_<%=venue.id%>" class="wookmark foursquare">
  <div class="venue-details">
    <h2 class="venue-name"><%= link_to venue.name, venue.foursquare_link %></h2>
    <div class="venue-category">
      <% if venue.categories.any? %>
        <img class="venue-icon" src=<%=venue.categories.first.icon_url%>>
        <span><%=venue.categories.first.name%></span>
      <% end %>
    </div>
    <h4 class="venue-checkins"><%= venue.checkins %> others escaped here </h4>
  </div>
</div>
