
  <div id="pick-again">
    <div id="pick-again-inner" class="center-col">
      <% @categories.each do |c| %>
        <% if c.icon_url %>
          <%= link_to image_tag(c.icon_url), parent_category_path(c), id: "category-#{c.id}-link", class: "category-link" %>
        <% else %>
          <%= link_to image_tag("https://foursquare.com/img/categories/parks_outdoors/default_256.png"), parent_category_path(c), id: "category-#{c.id}-link", class: "category-link" %>
        <% end %>
      <% end %>
      <span>Not your taste? Pick Again</span>
    </div>
  </div>

<div id="top-container" class="custom-container">
  <div id="escape-details" class="center-col">
    <h1>Your Escape: <span id="escape-title"><%= link_to @escape.title, @escape.original_url, class: "escape-link" %></span></h1>
    <h4 class="escape-location">Location: <%=@escape.city%>, <%=@escape.state%></h4>
    <h4>The Details</h4>
    <p><%= @escape.details %></p>
    <%= link_to "Buy Now", @escape.checkout_url, class: "checkout-link" %>
  </div>
</div>

<div id="wookmarks-heading-container" class="custom-container">
  <div id="wookmarks-heading" class="center-col">
    <h2 id="wookmarks-intro">Here are some photos and attractions to get you in the traveling mindset</h2>
  </div>
</div>

<div id="wookmarks-container" class="custom-container">
  <div id="wookmarks-inner" class="center-col">
    <% @items.each do |item| %>
      <% if item.is_a?(FlickrPhoto) %>
        <%= render partial: "flickr_photo", locals: {photo: item} %>
      <% end %>
      <% if item.is_a?(FoursquareSpot) %>
        <%= render partial: "foursquare_spot", locals: {venue: item} %>
      <% end %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    console.log('about to wookmark');
    $('.wookmark').wookmark({
      container: $('#wookmarks-inner'),
      offset: 20
    });

    $("#wookmarks-container").mouseover(function () {
      $('.wookmark').wookmark({
        container: $('#wookmarks-inner'),
        offset: 20
      });
    });

    $(window).scroll(function () {
      $('.wookmark').wookmark({
        container: $('#wookmarks-inner'),
        offset: 20
      });
    });
  });
</script>
