<div id='<%="escape_#{@escape.id}"%>'>
  <h1><%= @escape.title %></h1>

  <div id='photos' class='escape_flickr_photos'>
    <% @flickr_photos.each do |fp| %>
      <img alt="<%= fp.title %>" src="<%=fp.url_med%>">
    <% end %>
  </div>

  <div id='attractions' class='escape_foursquare_venues'>
    <% @foursquare_spots.each do |venue| %>
      <div id="attraction_<%=venue.id%>">
        <h2><%= venue.name %></h2>
        <h4><%= venue.checkins %> others escaped here </h4>
      </div>
    <% end %>
  </div>
</div>
