<!DOCTYPE html>
<html>
<head>
  <title>EscaperCaper</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="navbar">
    <div id="navbar-container" class="container">
      <div id="navbar-row" class="row">
        <div id="nav-list" class="twelvecol">
          <span class="brand">
            <a id="home-link" href="/">escaper caper</a>
          </span>
          <span id="escapes-link">
            <%= link_to "Browse all Escapes", escapes_path %>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div id="main-content">
    <%= yield %>
  </div>

</body>
</html>
